<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <th:block layout:fragment="head">
        <title>Title</title>
    </th:block>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <h3 class="form-signin-heading text-center mb-5" style="color:#0f4b43; font-weight: bold;">LOGIN INFO</h3>

        <h3 class="overview-normalize">접속중인 아이디</h3>

        <p th:text="${loginId}"></p>

        <hr/>
        <h3 class="overview-normalize">역할</h3>

        <p th:text="${loginRoles}"></p>

        <hr/>
        <h3 class="overview-normalize">Phone</h3>

        <p th:text="${loginMphone}"></p>

        <hr/>
        <h3 class="overview-normalize">Address</h3>

        <p th:text="${loginAddress}"></p>

        <hr/>
        <h3 class="overview-normalize">Email</h3>

        <p th:text="${loginEmail}"></p>

        <hr/>
<!--        <h3 class="overview-normalize">역할에 따른 페이지 이동 권한 확인</h3>-->
<!--        <p>-->
<!--            <button onclick="location.href='/view/setting/admin'" class="btn btn-sm btn-success">관리자 설정 페이지(관리자만)</button>-->
<!--            <button onclick="location.href='/view/setting/user'" class="btn btn-sm btn-info">유저 설정 페이지(유저만)</button>-->
<!--        </p>-->
<!--        <hr/>-->
        <form method="post" action="/logout">
            <button class="btn btn-sm btn-danger btn-block" type="submit" id="logout_btn">로그아웃</button>
        </form>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script>
        const loginId = document.getElementById('login_id');
        loginId.innerHTML = sessionStorage.getItem('userid');

        const logoutBtn = document.getElementById('logout_btn');
        logoutBtn.addEventListener('click', () => {
            sessionStorage.setItem('userid', '');
        });
    </script>
</th:block>
</body>
</html>