<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <th:block layout:fragment="head">
        <title>Title</title>
    </th:block>
</head>
<body class="paintingcat">
<th:block layout:fragment="content">
    <div style="display: flex; justify-content: flex-end; margin-right: 100px; margin-top: 75px">
        <button id="secession" class="button">회원 탈퇴</button>
    </div>

    <div id="card_all" class="card-group" style="height: 75vh; text-align: center; justify-content: center; align-items: center;">
        <!-- 회원정보 수정 모달창 -->
        <div class="modal" tabindex="-1" role="dialog" id="myModal3">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-header border-bottom-0">
                        <h1 class="modal-title fs-5">삭제하기</h1>
                        <button id="close14" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body py-0">
                        <p3>수정할 정보를 입력해주세요.</p3>
                        <!-- 수정 입력 폼 -->
                        <form id="updateForm" th:action="@{/auth/update_member}" method="post">
                            <label for="memberid">아이디:</label>
                            <input type="text" id="memberid" name="memberid" th:value="${loginId}"><br><br>

                            <label for="memberpassword">비밀번호:</label>
                            <input type="password" id="memberpassword" name="memberpassword" ><br><br>

                            <label for="phone">전화번호:</label>
                            <input type="text" id="phone" name="phone" th:value="${loginPhone}"><br><br>

                            <label for="address">주소:</label>
                            <input type="text" id="address" name="address" th:value="${loginAddress}"><br><br>

                            <label for="email">이메일:</label>
                            <input type="email" id="email" name="email" th:value="${loginEmail}"><br><br>

                        </form>
                    </div>
                    <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                        <!-- 삭제하기 버튼 클릭시 삭제 폼 토글 -->
                        <button type="button" onclick="submitMemberForm()" class="btn btn-lg btn-primary">수정하기</button>
                        <button id="close15" type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">취소하기</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 수정하기 모달창 -->
        <div class="modal" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-header border-bottom-0">
                        <h1 class="modal-title fs-5">수정하기</h1>
                        <button id="close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body py-0">
                        <p3>수정을 하시겠습니까?</p3>
                    </div>
                    <form id="editForm" th:action="@{/auth/update_pet_info}" method="post">
                        <div class="field" th:each="pet : ${pets}">
                            <label class="label">이름</label>
                            <div class="control">
                                <input class="input" name="petname" style="text-align: center;" type="text" th:value="${pet.petname}">
                            </div>

                            <label class="label">품종</label>
                            <div class="control">
                                <input class="input" name="petkind" style="text-align: center;" type="text" th:value="${pet.petkind}">
                            </div>

                            <label class="label">나이</label>
                            <div class="control">
                                <input class="input" name="petage" style="text-align: center;" type="number" th:value="${pet.petage}">
                            </div>

                            <div class="field">성별</div>
                            <input class="form-check-input" type="radio" name="petsex"   value="true"  id="petSexMale">
                            <label class="form-check-label" for="petSexMale">
                                Male
                            </label>

                            <input class="form-check-input" type="radio" name="petsex" value="false"  id="petSexFemale" checked>
                            <label class="form-check-label" for="petSexFemale">
                                Female
                            </label>

                            <div class="field">
                            <label class="label">펫 정보</label>
                            <div class="control">
                                <input class="input" name="petfeature" style="text-align: center;" type="text" th:value="${pet.petfeature}">
                            </div>
                            </div>

                            <label class="label">건강 상태</label>
                            <div class="control">
                                <input class="input" name="petcondition" style="text-align: center;" type="text" th:value="${pet.petcondition}">
                            </div>

                            <label class="label">예방 접종</label>
                            <div class="control">
                                <input class="input" name="petvac" style="text-align: center;" type="text" th:value="${pet.petvac}">
                            </div>
                        </div>
                    </form>
                        <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                            <!-- 수정하기 버튼 -->
                            <button type="button" onclick="submitForm()" class="btn btn-lg btn-primary">수정하기</button>
                            <button id="close1" type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">취소하기</button>
                        </div>
                </div>
            </div>
        </div>

        <!-- 추가하기 모달창 -->
        <div class="modal" tabindex="-1" role="dialog" id="myModal1">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-header border-bottom-0">
                        <h1 class="modal-title fs-5">추가하기</h1>
                        <button id="close4" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body py-0">
                        <p3>펫 정보를 추가 하시겠습니까?</p3>
                    </div>
                    <form id="addPetForm" th:action="@{/auth/addPet}" method="post">
                        <div class="field">
                            <label class="label">이름</label>
                            <div class="control">
                                <input class="input" name="petname" style="text-align: center;" type="text" placeholder="Name">
                            </div>

                            <label class="label">품종</label>
                            <div class="control">
                                <input class="input" name="petkind" style="text-align: center;" type="text" placeholder="Kind">
                            </div>

                            <label class="label">나이</label>
                            <div class="control">
                                <input class="input" name="petage" style="text-align: center;" type="number" placeholder="Age">
                            </div>


                            <div class="field">성별</div>
                            <input class="form-check-input" type="radio" name="petsex"   value="true"  id="petSexMale1">
                            <label class="form-check-label" for="petSexMale">
                                Male
                            </label>

                            <input class="form-check-input" type="radio" name="petsex" value="false"  id="petSexFemale1">
                            <label class="form-check-label" for="petSexFemale">
                                Female
                            </label>

                            <div class="field">
                            <label class="label">펫 정보</label>
                            </div>
                            <div class="control">
                                <input class="input" name="petfeature" style="text-align: center;" type="text" placeholder="Post">
                            </div>

                            <label class="label">건강 상태</label>
                            <div class="control">
                                <input class="input" name="petcondition" style="text-align: center;" type="text" placeholder="Condition">
                            </div>

                            <label class="label">예방 접종</label>
                            <div class="control">
                                <input class="input" name="petvac" style="text-align: center;" type="text" placeholder="Vac">
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                        <!-- 추가하기 버튼 -->
                        <button id="submitAddPet" type="button" class="btn btn-lg btn-primary">추가하기</button>
                        <button id="close5" type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">취소하기</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 삭제하기 모달창 -->
        <div class="modal" tabindex="-1" role="dialog" id="myModal2">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-header border-bottom-0">
                        <h1 class="modal-title fs-5">삭제하기</h1>
                        <button id="close6" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body py-0">
                        <p3>펫 정보를 삭제 하시겠습니까?</p3>
                        <!-- 삭제 폼 -->
                        <form id="deleteForm" th:action="@{/auth/pets/{petno}}" th:method="delete" style="display: none;">
                            <label for="petNoInput">펫 등록번호: </label>
                            <input type="number" id="petNoInput" name="petno">
                            <button type="button" onclick="deletePet()">삭제하기</button>
                        </form>
                    </div>
                    <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                        <!-- 삭제하기 버튼 클릭시 삭제 폼 토글 -->
                        <button type="button" onclick="toggleDeleteForm()" class="btn btn-lg btn-primary">삭제하기</button>
                        <button id="close7" type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">취소하기</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card master-border-style" style="max-width: 400px; margin: 20px; background-color: #829787; border: 2px solid #000000; border-radius: 20px; width: 30rem;">
            <div class="card-header">
                <h4>Master</h4>
            </div>
            <!-- 스크립트로 로그인중인 아이디를 전달 -->
            <div id="userInfo" th:data-memberid="${loginId}"></div>

            <div class="card-body">
                <div class="column">
                    <form class="box">
                        <div class="field">
                            <label class="label" style="text-align: left;">아이디</label>
                            <div class="control">
                                <p th:text="${loginId}"></p>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">핸드폰 번호</label>
                            <div class="control">
                                <p th:text="${loginPhone}"></p>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">주소</label>
                            <div class="control">
                                <p th:text="${loginAddress}"></p>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">이메일</label>
                            <div class="control">
                                <p th:text="${loginEmail}"></p>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div>
                <button id="correction" class="button" style="background-color: #0f5132 ">수정하기</button>
            </div>
        </div>

        <!-- 펫정보 출력 -->
        <div style="display: flex; align-items: center;">
            <div id="pet" class="card pet-border-style" style="max-width: 400px; border: 2px solid #000000;border-radius: 20px;background-color: #C5BA9E;margin-left: 20px; width: 30rem;">
                <div class="card-header">
                    <h4>Pet</h4>
                </div>
                <div class="card-body">
                    <div class="column">
                        <form class="box">
                            <div class="field" th:each="pet : ${pets}">
                                <label class="label">펫 등록번호</label>
                                <div class="control">
                                    <p th:text="${pet.petno}"></p>
                                </div>

                                <label class="label">이름</label>
                                <div class="control">
                                    <p th:text="${pet.petname}"></p>
                                </div>

                                <label class="label">품종</label>
                                <div class="control">
                                    <p th:text="${pet.petkind}"></p>
                                </div>

                                <label class="label">나이</label>
                                <div class="control">
                                    <p th:text="${pet.petage}"></p>
                                </div>

                                <label class="label">성별</label>
                                <div class="control">
                                    <p th:text="${pet.petsex ? 'Male' : 'Female'}"></p>
                                </div>

                                <label class="label">현재 상태</label>
                                <div class="control">
                                    <p th:text="${pet.petfeature}"></p>
                                </div>

                                <label class="label">건강 상태</label>
                                <div class="control">
                                    <p th:text="${pet.petcondition}"></p>
                                </div>

                                <label class="label">예방 접종</label>
                                <div class="control">
                                    <p th:text="${pet.petvac}"></p>
                                </div>

                                <label class="label">사진</label>
                                <div class="control">
                                    <p th:text="${pet.petfeature}"></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    <button id="correction1" class="custom-btn btn-2">수정하기</button>
                    <button id="addPet" class="custom-btn btn-2 ms-2">추가하기</button>
                    <button id="deletePet" class="custom-btn btn-2 ms-2">삭제하기</button>
                </div>
            </div>
        </div>
    </div>

    <div style="display: flex; justify-content: flex-end; margin-right: 100px; margin-bottom: 75px">
       <button class="custom-btn btn-12" type="button" onclick="home()"><span>홈 화면으로!!</span><span>홈 화면으로</span></button>
    </div>

    <!-- 회원 탈퇴 -->
    <div class="modal" tabindex="-1" role="dialog" id="secessionModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header border-bottom-0">
                    <h1 class="modal-title fs-5">탈퇴하기</h1>
                    <button id="close2" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body py-0">
                    <p3>탈퇴를 하시겠습니까?</p3>
                </div>
                <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                    <button id="secessionBtn" type="button" class="btn btn-lg btn-primary">탈퇴하기</button>
                    <button id="close3" type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">취소하기</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="deleteSuccessModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header border-bottom-0">
                    <h1 class="modal-title fs-5">삭제 완료</h1>
                    <button id="close8" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body py-0">
                    <p>펫 정보 삭제가 완료되었습니다.</p>
                </div>
                <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                    <button id="close9" type="button" class="btn btn-lg btn-primary" data-bs-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" tabindex="-1" role="dialog" id="editSuccessModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header border-bottom-0">
                    <h1 class="modal-title fs-5">수정 완료</h1>
                    <button id="close10" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body py-0">
                    <p3>펫 정보 수정이 완료되었습니다.</p3>
                </div>
                <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                    <button id="close11" type="button" class="btn btn-lg btn-primary" data-bs-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="updateSuccessModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header border-bottom-0">
                    <h1 class="modal-title fs-5">수정 완료</h1>
                    <button id="close16" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body py-0">
                    <p3>회원 정보 수정이 완료되었습니다.
                    <br>재로그인 해주시기 바랍니다.</p3>
                </div>
                <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                    <button id="close17" type="button" class="btn btn-lg btn-primary" data-bs-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal" tabindex="-1" role="dialog" id="addSuccessModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header border-bottom-0">
                    <h1 class="modal-title fs-5">추가 완료</h1>
                    <button id="close12" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body py-0">
                    <p>펫 정보가 성공적으로 추가되었습니다.</p>
                </div>
                <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                    <button id="close13" type="button" class="btn btn-lg btn-primary" data-bs-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="script">

    <script>

        document.getElementById('secession').addEventListener('click', function() {
            document.getElementById('secessionModal').style.display = 'block';
        });
        document.getElementById('correction').addEventListener('click', function() {
            document.getElementById('myModal3').style.display = 'block';
        });

        document.getElementById('correction1').addEventListener('click', function() {
            document.getElementById('myModal').style.display = 'block';
        });
        document.getElementById('addPet').addEventListener('click', function() {
            document.getElementById('myModal1').style.display = 'block';
        });
        document.getElementById('deletePet').addEventListener('click', function() {
            document.getElementById('myModal2').style.display = 'block';
        });
          <!-- 클릭시(id 입력) 어떤 모달창이 뜨게할지 지정 -->


        document.getElementById('close').addEventListener('click', function() {
            document.getElementById('myModal').style.display = 'none';
        });
        document.getElementById('close1').addEventListener('click', function() {
            document.getElementById('myModal').style.display = 'none';
        });
        document.getElementById('close2').addEventListener('click', function() {
            document.getElementById('secessionModal').style.display = 'none';
        });
        document.getElementById('close3').addEventListener('click', function() {
            document.getElementById('secessionModal').style.display = 'none';
        });
        document.getElementById('close4').addEventListener('click', function() {
            document.getElementById('myModal1').style.display = 'none';
        });
        document.getElementById('close5').addEventListener('click', function() {
            document.getElementById('myModal1').style.display = 'none';
        });
        document.getElementById('close6').addEventListener('click', function() {
            document.getElementById('myModal2').style.display = 'none';
        });
        document.getElementById('close7').addEventListener('click', function() {
            document.getElementById('myModal2').style.display = 'none';
        });
        document.getElementById('close8').addEventListener('click', function() {
            document.getElementById('deleteSuccessModal').style.display = 'none';
            location.reload(); // 현재 페이지 새로고침
        });

        document.getElementById('close9').addEventListener('click', function() {
            document.getElementById('deleteSuccessModal').style.display = 'none';
            location.reload(); // 현재 페이지 새로고침
        });

        document.getElementById('close10').addEventListener('click', function() {
            document.getElementById('editSuccessModal').style.display = 'none';
            location.reload(); // 현재 페이지 새로고침
        });

        document.getElementById('close11').addEventListener('click', function() {
            document.getElementById('editSuccessModal').style.display = 'none';
            location.reload(); // 현재 페이지 새로고침
        });
        document.getElementById('close12').addEventListener('click', function() {
            document.getElementById('addSuccessModal').style.display = 'none';
            location.reload(); // 현재 페이지 새로고침
        });
        document.getElementById('close16').addEventListener('click', function() {
            document.getElementById('updateSuccessModal').style.display = 'none';
            location.reload(); // 현재 페이지 새로고침
        });
        document.getElementById('close17').addEventListener('click', function() {
            document.getElementById('updateSuccessModal').style.display = 'none';
            location.reload(); // 현재 페이지 새로고침
        });

        document.getElementById('close13').addEventListener('click', function() {
            document.getElementById('addSuccessModal').style.display = 'none';
            location.reload(); // 현재 페이지 새로고침
        });
        document.getElementById('close14').addEventListener('click', function() {
            document.getElementById('myModal3').style.display = 'none';
            location.reload(); // 현재 페이지 새로고침
        });

        document.getElementById('close15').addEventListener('click', function() {
            document.getElementById('myModal3').style.display = 'none';
            location.reload(); // 현재 페이지 새로고침
        });
          <!-- 버튼을 눌렀을때 어떤 모달창이 닫히게할지 지정 -->



        window.addEventListener('click', function(event) {
            if (event.target == document.getElementById('myModal')) {
                document.getElementById('myModal').style.display = 'none';
            }
        });
        window.addEventListener('click', function(event) {
            if (event.target == document.getElementById('secessionModal')) {
                document.getElementById('secessionModal').style.display = 'none';
            }
        });
        window.addEventListener('click', function(event) {
            if (event.target == document.getElementById('myModal1')) {
                document.getElementById('myModal1').style.display = 'none';
            }
        });
        window.addEventListener('click', function(event) {
            if (event.target == document.getElementById('myModal2')) {
                document.getElementById('myModal2').style.display = 'none';
            }
        });

        window.addEventListener('click', function(event) {
            if (event.target == document.getElementById('myModal3')) {
                document.getElementById('myModal3').style.display = 'none';
            }
        });

        function home() {
            window.location.href = '/home';
        }

        function deletePet() {
            var petNo = document.getElementById("petNoInput").value;
            var url = '/auth/pets/' + petNo;

            fetch(url, {
                method: 'DELETE'
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Pet deleted successfully');
                        // 성공적으로 삭제되면 모달 닫기
                        document.getElementById('myModal2').style.display = 'none';
                        // 삭제 완료 알림 모달창 표시
                        document.getElementById('deleteSuccessModal').style.display = 'block';
                    } else {
                        console.error('Failed to delete pet');
                    }
                })
                .catch(error => {
                    console.error('Error deleting pet:', error);
                });
        }

        function toggleDeleteForm() {
            // 삭제 폼 토글
            var deleteForm = document.getElementById('deleteForm');
            if (deleteForm.style.display === 'none') {
                deleteForm.style.display = 'block';
            } else {
                deleteForm.style.display = 'none';
            }
        }

        <!-- 회원수정 -->
        function submitMemberForm() {
            var formData = new FormData(document.getElementById('updateForm'));

            fetch('/auth/update_member', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (response.ok) {
                        console.log('회원 정보 업데이트 성공');
                        // 수정 완료 모달 창을 보여줌
                        var editModal = document.getElementById('myModal3');
                        var successModal = document.getElementById('updateSuccessModal');

                        // 현재 모달 창 닫기
                        editModal.classList.remove('show');
                        editModal.style.display = 'none';

                        // 수정 완료 모달 창 표시
                        successModal.classList.add('show');
                        successModal.style.display = 'block';
                    } else {
                        response.text().then(text => {
                            console.error('회원 정보 업데이트 실패:', text);
                            alert('회원 정보 업데이트 실패: ' + text); // 사용자에게 실패 메시지 표시
                        });
                    }
                })
                .catch(error => {
                    console.error('Error updating member info:', error);
                    alert('회원 정보 업데이트 중 오류 발생: ' + error); // 사용자에게 오류 메시지 표시
                });
        }


        // 수정하기 버튼을 클릭했을 때 실행되는 함수
        function submitForm() {
            var formData = new FormData(document.getElementById('editForm'));

            fetch('/auth/update_pet_info', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Pet info updated successfully');
                        // 수정 완료 모달 창을 보여줌
                        var editModal = document.getElementById('myModal');
                        var successModal = document.getElementById('editSuccessModal');

                        // 현재 모달 창 닫기
                        editModal.classList.remove('show');
                        editModal.style.display = 'none';

                        // 수정 완료 모달 창 표시
                        successModal.classList.add('show');
                        successModal.style.display = 'block';
                    } else {
                        console.error('Failed to update pet info');
                    }
                })
                .catch(error => {
                    console.error('Error updating pet info:', error);
                });
        }


        document.getElementById('submitAddPet').addEventListener('click', function() {
            var formData = new FormData(document.getElementById('addPetForm'));

            fetch('/auth/addPet', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Pet added successfully');
                        // 추가 완료 모달 창을 보여줌
                        var addModal = document.getElementById('myModal1');
                        var successModal = document.getElementById('addSuccessModal');

                        // 현재 모달 창 닫기
                        addModal.classList.remove('show');
                        addModal.style.display = 'none';

                        // 추가 완료 모달 창 표시
                        successModal.classList.add('show');
                        successModal.style.display = 'block';
                    } else {
                        console.error('Failed to add pet');
                    }
                })
                .catch(error => {
                    console.error('Error adding pet:', error);
                });
        });


        // 삭제 버튼 클릭 시 실행될 함수
        document.getElementById('secessionBtn').addEventListener('click', function() {
            var memberid = document.getElementById('userInfo').getAttribute('data-memberid');
            // 백틱(`)과 ${}를 사용하여 URL 구성
            var url = `/auth/delete/${memberid}`;

            fetch(url, {
                method: 'DELETE',
            })
                .then(response => {
                    if(response.ok) {
                        return response.text();
                    }
                    throw new Error('Something went wrong');
                })
                .then(data => {
                    alert('삭제가 성공적으로 완료되었습니다.'); // 성공 메시지 처리
                    // 여기서 추가적인 성공 처리 로직을 넣을 수 있습니다.
                    // 예: 사용자를 홈페이지로 리다이렉트하기
                    window.location.href = '/home';
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert('오류가 발생했습니다. 다시 시도해 주세요.'); // 에러 처리
                });
        });

        document.getElementById('updateButton').addEventListener('click', function() {
            const formData = {
                memberid: document.getElementById('memberid').value,
                memberpassword: document.getElementById('memberpassword').value,
                phone: document.getElementById('phone').value,
                address: document.getElementById('address').value,
                email: document.getElementById('email').value,
            };

            fetch('/auth/member/update', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData)
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch((error) => console.error('Error:', error));
        });

    </script>

</th:block>
</body>
</html>
<style>

.paintingcat {
    width: 100%;
    height: 350px;
    background-image:url('/images/paintingcat.png');
    background-repeat:no-repeat;
    background-position:top left;
    background-color: #e5f6eb;
    }

.btn-12{
    position: relative;
    right: 20px;
    bottom: 20px;
    border:none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
}
.btn-12 span {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.btn-12 span:nth-child(1) {
    box-shadow:
            -7px -7px 20px 0px #fff9,
            -4px -4px 5px 0px #fff9,
            7px 7px 20px 0px #0002,
            4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
.btn-2 {
    background: rgb(96,9,240);
    background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
    border: none;

    }
    .btn-2:before {
        height: 0%;
        width: 2px;
    }
    .btn-2:hover {
        box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255,255,255,.2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    }
.paintingcat {
    width: 100%;
    height: 350px;
    background-image:url('/images/paintingcat.png');
    background-repeat:no-repeat;
    background-position:top left;
    background-color: #e5f6eb;
    }

.btn-12{
    position: relative;
    right: 20px;
    bottom: 20px;
    border:none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
}
.btn-12 span {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.btn-12 span:nth-child(1) {
    box-shadow:
            -7px -7px 20px 0px #fff9,
            -4px -4px 5px 0px #fff9,
            7px 7px 20px 0px #0002,
            4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
.btn-2 {
    background: rgb(96,9,240);
    background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
    border: none;

}
.btn-2:before {
    height: 0%;
    width: 2px;
}
.btn-2:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

</style>