<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <th:block layout:fragment="head">
        <title>Title</title>
    </th:block>
</head>
<body>
<th:block layout:fragment="content">
    <div>
        content
    </div>
</th:block>

<th:block layout:fragment="script">
    <script>
        console.log('here is script')
    </script>
</th:block>
</body>
</html>